{:templates {:launch     "osascript -e 'tell application \"Alfred 4\" to run trigger \"launch%s\" in workflow \"yqrashawn.workflow.launcher\" with argument \"\"'"
             :alf        "open /Applications/Alfred\\ 4.app && osascript -e 'tell application \"Alfred 4\" to run trigger \"%s\" in workflow \"%s\"'"
             :km         "osascript -e 'tell application \"Keyboard Maestro Engine\" to do script \"%s\"'"
             :kma        "osascript -e 'tell application \"Keyboard Maestro Engine\" to do script \"Activate%s\"'"
             :open       "open \"%s\""
             :opena      "open -a \"%s\""
             :show       "osascript -e 'set appName to \"%s\"\nset startIt to false\ntell application \"System Events\"\n  if not (exists process appName) then\n    set startIt to true\n  else\n    set frontmost of process appName to true\n  end if\nend tell\nif startIt then\n  tell application appName to activate\nend if'\n"
             :toggle     "osascript -e 'set appName to \"%s\"\nset startIt to false\ntell application \"System Events\"\n  if not (exists process appName) then\n    set startIt to true\n  else if frontmost of process appName then\n    set visible of process appName to false\n  else\n    set frontmost of process appName to true\n  end if\nend tell\nif startIt then\n  tell application appName to activate\nend if'"
             :type       "osascript -e 'tell application \"System Events\" to keystroke \"%s\" as text'"
             ;; :focus      "/usr/local/bin/yabai -m display --focus \"%s\" & /usr/local/bin/yabai -m space --focus \"%s\""
             :hs "open -g hammerspoon://%s"
             :hsa "open -g hammerspoon://launchOrHide?name=%s"}

 :layers {;;   :space_mode {:key :spacebarl}
          :space_shift_mode {:key :left_shift :condi :space_mode}}

 :main [;; 使用 space 按下，触发 space_mode，无所谓按键顺序
        {:des "Space-mode"
         :rules [[:##spacebar ["space_mode" 1] nil {:afterup ["space_mode" 0]
                                                    :alone :spacebar}]]}

        {:des "Space-mode - 方向键"
         :rules [[:!Ti [:up_arrow :up_arrow :up_arrow :up_arrow :up_arrow] :space_mode]
                 [:!Tk [:down_arrow :down_arrow :down_arrow :down_arrow :down_arrow] :space_mode]
                 [:##i :up_arrow :space_mode]
                 [:##k :down_arrow :space_mode]
                 [:##j :left_arrow :space_mode]
                 [:##l :right_arrow :space_mode]]}

        {:des "Space-mode - 打开App"
         :rules [[:w [:hsa Wechat] :space_mode]
                 [:z [:hsa mqq] :space_mode]
                ;;  [:t [:hsa Telegram] :space_mode]
                 [:t [:hsa iTerm2] :space_mode]
                 [:f [:hsa PathFinder] :space_mode]
                 [:e [:hsa FeiShu] :space_mode]]}


        {:des "Space-mode - Media Control"
         :rules [[:n :play_or_pause :space_mode]
                 [:m :mute :space_mode]
                 [:comma :rewind :space_mode]
                 [:period :fastforward :space_mode]
                 [:up_arrow :volume_increment :space_mode]
                 [:down_arrow :volume_decrement :space_mode]]}


        {:des "Space-mode - F区"
         :rules [[:1 :f1 :space_mode]
                 [:2 :f2 :space_mode]
                 [:3 :f3 :space_mode]
                 [:4 :f4 :space_mode]
                 [:5 :f5 :space_mode]
                 [:6 :f6 :space_mode]
                 [:7 :f7 :space_mode]
                 [:8 :f8 :space_mode]
                 [:9 :f9 :space_mode]
                 [:0 :f10 :space_mode]
                 [:hyphen :f11 :space_mode]
                 [:equal_sign :f12 :space_mode]]}


        {:des "Space_Fn - Others"
         :rules [; delete
                 [:delete_or_backspace :delete_forward :space_mode]

                 ; Window Manage
                 [:1 :!Tup_arrow :space_mode]
                 [:2 :!Tdown_arrow :space_mode]

                ; 切换输入法
                 [:tab :!Cspacebar :space_mode]]}]}